.dim_piece {
    color: var(--dim-white);
}

.normal_piece {
    color: var(--bright-white);
}

.indicator_value:hover span span {
    visibility: hidden;
    display: none;
}

.indicator_value:hover span::before {
    content: "|";
    color: var(--bright-yellow);
}