tr.skill:hover td:not(.indicator) {
  color: var(--yellow);
}

.selected {
  color: var(--bright-yellow);
}

.maximum_piece {
  color: var(--dim-white);
}

.normal_piece {
  color: var(--bright-white);
}

.skill:hover {
  cursor: pointer;
}