@import url("color_scheme.css");

body {
  background-color: var(--black);
  color: var(--white);

  --font-size: 14pt;
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-family: "Classic Console Neue", Consolas, "Courier New";
  width: 120ch;
  padding: 15px;
  margin: 0 auto;
}

p {
  margin: 0;
}

p::after, h2::after {
  content: "\a\a";
  white-space: pre;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  color: var(--bright-white);
}

h2::before {
  content: "## ";
  color: var(--dim-white);
}

